body {
  color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  font-size: 150%;
  font-weight: bold;
  margin: 15px;
}

p {
  font-size: 75%;
}

.info {
  width: 40%;
}

#anvil {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#logo {
  size: 110%;
}

@media all and (max-width: 650px) {
  header {
    display: block;
    width: 100%;
  }

  section {
    width: 100%;
    display: block;
  }

  .info {
    width: 90%;
  }  

  #logo {
    width: 60%;
  }

  #anvil {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    font-size: 200%;
    font-weight: bold;
  }  
}
